* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.content {
    flex-grow: 1;
}

.footer-page {
    display: flex;
    flex-direction: column;
}

.footer-container {
    flex-shrink: 0;
    position: relative;
    margin-top: 1vh;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 40px;
}

.footer-contents {
    padding: 0 25vh;
}

.footer-header {
    margin-bottom: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom ul {
    list-style: none;
}

.footer-bottom li {
    margin-bottom: 8px; 
}

.footer-bottom ul li:first-child {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.copyright {
    font-size: 12px;
    text-align: left;
}

.bold-text {
    font-weight: bold;
}

.yelp-icon {
    color: red;
}