.business-header {
    position: relative;
    background-color: antiquewhite;
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
}

.business-header-content {
    position: absolute;
    font-family: 'Rubik',"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    top: 40%;
    left: 20%;
    color: white;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.business-review-header {
    font-size: 16px; 
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
}

.claimed-row {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.claimed-style {
    color: rgb(88, 180, 255);
    text-shadow: none;
}

.bullet-point {
    margin: 0 5px; 
}

.store-hour-row {
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.green-open {
    color: rgb(4, 197, 133);
    margin-right: 10px;
}

.business-photo-row {
    display: flex;
    overflow-x: auto;
    height: 100%;
}

.business-photo-item {
    flex: 1 0 33%;
    display: flex;   
}

.business-photo-item img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.bottom-half-component {
    display: flex;
    justify-content: center;
    margin: 0px 27.5px;
    padding: 0px 40px;
}

.left-bot-half {
    flex: 1;
    padding-right: 16px;
    margin: 24px;
    max-width: 747px;
}

.right-bot-half {
    position: sticky;
    top: 162px;
    margin-top: 24px;
    width: 365px;
    height: 230px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.contact-container {
    margin: 20px 20px;
}

.contact-text {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.title-text {
    padding: 20px 0;
}

.contact-links {
    display: flex;
    justify-content: space-between;
}

.contact-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 3px solid transparent;
}

.contact-links a:hover {
    border-bottom: 3px solid red;
}

.resume-link {
    display: flex;

    background-color: rgb(224, 7, 7);
    margin-top: 20px;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.resume-link a {
    text-decoration: none;
    color: white;
}

.resume-link:hover {
    filter: brightness(1.1);
}

.resume-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-location {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    width: 175px;
    height: 44px;
    background-color: rgb(224, 7, 7);
    font-size: 16px;
    font-family: 'Poppins';
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 500;
}

.review-button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.location-hours {
    font-family: 'Poppins';
    font-size: 20px;
    color: rgb(45, 46, 47);
    font-weight: bold;
}

.suggest-edit {
    font-size: 16px;
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0 0;
    font-weight: 700;
}

.suggest-edit:hover {
    text-decoration: underline;
}

.business-location {
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.create-review-container {
    display: flex;
    justify-content: flex-start;
}

.map-time-container {
    display: flex;
    font-size: 14px;
    margin-top: 24px;
}

.map-address-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 315px;
    height: 274px;
}

.address-line {
    margin: 0;
    margin-top: 10px;
}

.address-line:nth-child(3) {
    color: rgb(2, 122, 151);
}

.address-line:nth-child(4) {
    font-weight: bold;
}

.time-right {
    width: 329px;
    height: 224px;
    padding-top: 15px;
    padding-left: 30px;
}

.business-hours {
    width: inherit;
    font-family: inherit;
    font-size: 16px;
    line-height: 2;
    color: rgb(45, 46, 47);
    font-weight: 600;
}

.business-hours td:first-child {
    padding-right: 7px; 
}

.review-section-container {
    margin-top: 32px;
    padding-top: 32px;
}

.header-all-reviews {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 24px;
}

.business-photo-item img {
    max-width: 100%;
    height: auto;
}

.write-a-review {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    gap: 5px;
}