.nav-container {
  position: relative;
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 24px 40px;
}

.login-signup {
  margin-left: auto;
  font-family: Helvetica, Arial, sans-serif;
  
}

.nav-login-button {
  display: inline-block;
  padding: 10px 16px;
  margin-right: 5px;
  border: 2px solid white;
  font-size:  100%; 
  font-weight: bold;
  border-radius: 4px;
  background-color: transparent; 
  color: white;
  transition: background-color 0.7s ease;
  text-decoration: none;
} 

.nav-login-button:active {
  border-color: blue;
}

.nav-login-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.nav-signup-button {
  display: inline-block;
  padding: 10px 16px;
  margin-left: 5px;
  border: 2px solid rgb(224,7,7);
  font-size:  100%; 
  font-weight: bold;
  border-radius: 4px;
  background-color: rgb(224,7,7); 
  color: white;
  transition: background-color 1.5s ease;
  text-decoration: none;
}

.nav-signup-button:hover {
  background-color: rgba(255, 0, 0, 1);
  color: white;
}

.home-button {
  padding: 10px 16px;
  margin-right: 5px;
  border: 2px solid white;
  font-size:  100%; 
  font-weight: bold;
  border-radius: 4px;
  background-color: transparent; 
  color: black;
  transition: background-color 0.7s ease;
  text-decoration: none;
}

.dropdown-container {
  position: relative;
}

.profile-button-container {
  margin-left: auto;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  width: 200px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 16px;
  z-index: 10;
  border-radius: 4px;
}

.profile-dropdown li {
  text-align: left;
  width: 92%;
  padding: 8px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 14px;
}

.profile-dropdown li:hover {
  background-color: rgb(111, 106, 106, .2);
  border-radius: 4px;
}

.uncheck {
  cursor: not-allowed;
}

.line-container {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.logout-button {
  display: flex;
  align-items: center;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  gap: 10px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.unclickable-item-account span {
  white-space: nowrap;
}

.home-button {
  border: none;
}

.font-logo-link {
  text-decoration: none;
  color: black;
  font-size: 28px;
}

.profile-button {
  color: gray;
}

.profile-button:hover {
  cursor: pointer;
  color: gray;
}

.homepage {
  color: white;
}

.homepage-logo {
  color: rgb(255,26,26);
}