.business-index-container {
    display: flex;
    text-decoration: none;
    margin-left: 50px;
    justify-content: space-between;
    min-height: 100vh;
    overflow-y: visible;
    width: 97%;
}

.business-index-container > ul:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.business-index-container * {
    border-radius: 4px;
}

.business-each {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 24px;
    width: 680px;
    height: 250px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.business-each:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


.business-each p, 
.business-each h1, 
.business-each h2, 
.business-each h3 {
    color: black;
}

.business-each a {
    text-decoration: none !important;
}

.business-each-box {
    display: flex;
}

.business-photo {
    width: 180px;
    height: 200px;
    margin-right: 15px;
}

.business-photo-item {
    width: 100%;
    height: 100%;
}

.business-photo-item img{
    width: 100%;
    height: 100%;
}

.business-info {
    display: flex;
    flex-direction: column;    
    width: 430px;
}

.review-preview-container{
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: auto;
}

.text-icon {
    margin-right: 5px;
}

.review-preview-text {
    font-size: 14px;
    max-width: 400px;
    text-decoration: none;
}

.business-header-font {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Rubik',"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    text-decoration-style: solid;
    filter: contrast(200%);
    margin-bottom: 5px;
}

.ratings-row {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    margin-bottom: 5px;
}

.dollar-row {
    font-size: 14px;
    gap: 10px;
    margin-bottom: 5px;
}

.category-font:hover {
    cursor: pointer;
}

.open-row {
    margin-bottom: 5px;
    font-size: 14px;
}

.category-font {
    font-size: 12px;
    padding: 4px;
    border: none;
    font-family: inherit;
    font-weight: bold;
}

.category-font:hover {
    background-color: rgb(209, 209, 209);
}

.name-hover:hover {
    text-decoration: underline;
}

.more-text {
    color: rgb(2, 122, 151);
}

.more-text:hover {
    text-decoration: underline;
}

.map-sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: auto;
}

.map-sticky {
    width: 36%;
    height: 100%;
    position: sticky;
    top: 0;
}

.green-open-2 {
    color: rgb(0, 128, 85);
    margin-right: 3px;
    font-weight: bold;
}

.no-result-container {
    display: flex;
    width: 98vw;
    height: 80vh;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no-result-header {
    border: 1px solid black;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: "Poppins"
}